*,html,body {
    padding: 0;
    margin: 0;
    
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #9C835F;
    ;
}

.navbar {
    width: 100%;
    height: 10%;
    /* background-color: rgba(0, 0, 255, 0.167); */
    display: flex;

}

.box {
    width: 100%;
    height: 90%;
    /* background-color: rgba(178, 34, 34, 0.074); */
    display: flex;
    justify-content: center;

}

.border-left {
    width: 30%;
    height: 85%;
    /* background-color: rgba(0, 255, 255, 0.38); */

}

.border-center {
    width: 30%;
    height: 100%;
    /* background-color: rgba(255, 0, 0, 0.265); */
}

.border-right {
    width: 30%;
    height: 85%;
    /* background-color: rgba(0, 255, 255, 0.275); */
}

.player1 {
    width: 100%;
    height: 10%;
    /* background-color: rgba(137, 43, 226, 0.219); */


}

.batuplayer {
    width: 100%;
    height: 30%;
    /* background-color: rgba(128, 255, 0, 0.322); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.kertasplayer{
    width: 100%;
    height: 30%;
    /* background-color: darkgrey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.guntingplayer {
    width: 100%;
    height: 30%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}   

.com {
    width: 100%;
    height: 10%;
    /* background-color: rgba(137, 43, 226, 0.219); */

}

.batucom {
    width: 100%;
    height: 30%;
    /* background-color: rgba(128, 255, 0, 0.322); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.kertascom{
    width: 100%;
    height: 30%;
    /* background-color: darkgrey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.guntingcom {
    width: 100%;
    height: 30%;
    /* background-color: rgba(137, 43, 226, 0.159); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.top {
    width: 100%;
    height: 80%;
    /* background-color: rgba(139, 0, 0, 0.196); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom {
    width: 100%;
    height: 20%;
    /* background-color: rgba(0, 0, 255, 0.272); */
    display: flex;
    justify-content: center;

}

.shadowleft {
    width: 160px;
    height: 159px;
    background-color: #c4c4c400;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shadowright {
    width: 160px;
    height: 159px;
    background-color: #c4c4c400;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.vs {
    width: 100%;
    height: 40%;
    /* background-color: rgba(0, 0, 255, 0.137); */
    
    
}

.arrow {
    
margin-left: 20px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
letter-spacing: 0.1em;
text-transform: uppercase;
text-decoration: none;
color: #724C21;

}

.logo {
    width: 72px;
height: 72px;
margin-left: 30px;
}
 
.text {
    margin-left: 30px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;

color: #F9B23D;
margin-top: 15px;

}

.textplayer {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;
}

.rock {
    width: 128px;
height: 92px;
}

.paper {
    width: 100px;
height: 130px;
}

.scissors {
    width: 100px;
height: 130px;
}

.middle {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 196px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #BD0000;

}

.match {
    width: 60%;
    height: 35%;
    background-color: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    display: none;
    justify-content: center;
    align-items: center;
}

.win {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 52px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;

}

.reload {
    width: 77px;
height: 71px;
}